.Root {
    width: 100%;
    height: 100%;
}

.Body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.MainContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.IntroText {
    font-size: 150%;
    text-align: center;
    width: 70%;
}

.MainImage {
    width: 40%;
    height: auto;
}

.SocialIcon {
    height: 30px;
    margin: 10px;
    width: 30px;
}

.SubscribeForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 120%;
    text-align: center;
    width: 70%;
}

.FormField {
    font-size: 130%;
}

.SubscribedNotice {
    display: none;
    width: 70%;
}